In [41]:
import pandas as pd
import numpy as np

table = np.full((7, 4),np.nan)
table

array([[nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan]])

In [42]:
r = 1; c = 0
table[r, c:c+3] = "select"
r = 1; c = 3
table[r, c] = "checkbox"
r = 2; c = 0
table[r:r+2, c:c+2] = "ceheckbox"
r = 2; c = 2
table[r, c] = "Date"
r = 2; c = 3
table[r, c] = "TextBox"
r = 3; c = 2
table[r, c:c+2] = "TextArea"
r = 4
c = 0
table[r, c] = "Radio"
c = 1
table[r, c] = "Radio"
for c in range(2, 4):
    table[r, c] = "Radio"
table[5, 1:3] = 'this is a very long string ..... what the hack .....'
table[5, 0] = ''
r = 6
c = 0
table[r, c] = "Button"

ValueError: could not convert string to float: 'select'

In [36]:
df = pd.DataFrame(table, columns=['A', 'B', 'C', 'D'])

print(df.head())

        A       B       C       D
0  number  number  number  number
1  select  select  select  checkb
2  ceheck  ceheck    Date  TextBo
3  ceheck  ceheck  TextAr  TextAr
4   Radio   Radio   Radio   Radio

In [37]:
df.set_index(['A', 'B', 'C', 'D'], inplace=True)

In [40]:
print(df)

Empty DataFrame
Columns: []
Index: [(number, number, number, number), (select, select, select, checkb), (ceheck, ceheck, Date, TextBo), (ceheck, ceheck, TextAr, TextAr), (Radio, Radio, Radio, Radio), (, this i, this i, number), (Button, number, number, number)]

In [39]:
df.to_html("output.html")